{% extends "base.html" %}
{% block "card" %}
<h5 class="card-title">Step 1: Select your shape</h5>
<div class="card-text">
    <p>Please select the shape that you would like to calculate the area of and press the button "Go to step 2"</p>
    <form action="." method="POST">
        {% csrf_token %}
        {% for shape in shapes %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="shape" id="shape_{{shape.id}}" value="{{shape.name}}" {% if forloop.first %} checked {% endif %}>
                <label class="form-check-label" for="shape_{{shape.id}}">{{shape.name}}</label>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Go to step 2</button>
        <a href="{% url "home" %}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock %}