{% extends "base.html" %}
{% block "card" %}
{% if not value %}
<h5 class="card-title">Step 2 : Insert your values</h5>
<div class="card-text">
    <p>You have selected a <strong>{{shape}}</strong>, please input the required variables.</p>
    <form action="." method="POST">
        {% csrf_token %}
        {% for parameter in parameters %}
            <div class="form-group">
                <label for="parameter_{{parameter.id}}">{{parameter.name}}</label>
                <input class="form-control" type="number" name="{{parameter.name|lower}}" id="parameter_{{parameter.id}}" step="0.01" min="0">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Go to step 3</button>
        <a href="{% url "home" %}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% else %}
<h5 class="card-title">Step 3 : Your results</h5>
<div class="card-text">
    <p>You have calculated the area of a <strong>{{shape}}</strong> with a {% for parameter in parameters %} {{parameter.name|lower}} of {{parameter.value}}{% if forloop.last %}.{% else %},{% endif %}{% endfor %} Below is your result</p>
    <h5 class="text-center">The Area is {{value|floatformat:2}}</h5>
    <a href="{% url "home" %}" class="btn btn-primary">Start Over</a>
</div>
{% endif %}
{% endblock %}